<nav>
  <h1>ENCONTRINHOS</h1>

  {{#if loggedUser}}
  <a href="/home">Página inicial</a>
  <a href="/myEventsView">Meus eventos</a>
  <button><a href="/newEventsView">Criar novo evento</a></button>
  <a href="/login">Sair</a>

  {{else}}
  <a href="/login">Entrar</a>
  <a href="/signup">Cadastrar-se</a>
  
  {{/if}}
  
</nav>