<tr>
  <td>
    <div class="registered-button"> {{!-- imagem do botão inscrito --}}
      <button id="registered-button" type="button" name="Inscrito">
          {{!-- criar uma ação de remoção da inscrição --}} 
          </button>
    </div>

  </td>
  <td>{{this.date}}</td>
  <td>{{this.time}}</td>
  <td>{{this.name}}</td>
  <td>{{this.owner}}</td>
</tr>