<h1>HOMMEEE</h1>

<section>
  <div>
    <form>Busque um evento
      <input type="text" name="events" placeholder="Eventos">
      <button type="submit">Procurar</button>
    </form>
  </div>
</section>

