<input id="current-user" type="hidden" value="{{loggedUser._id}}">
<div class="home-page">
  <section id="event-search-box">
    <div id="event-search-box-content">
      <label for="eventsSearch">Busque um evento</label>
        <img id="icon-search" src="./images/search.png">
      <input type="text" name="eventsSearch" id="eventsSearch" placeholder="Digite o nome do evento">
    </div>
  </section>

  <main class="main-loggedarea">
    {{#if eventsData}}
      <div class="info-dash-container">
        <table class="table">
          <tbody id="table-body">
            {{#each eventsData}}
              {{>urlTableRows this}}
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="empty-dash-container">
        <h2>Ainda não existem eventos.</h2>
      </div>
    {{/if}}
  </main>  
</div>


<script src="/javascript/script.js"></script>