
  <main>
  {{#if eventsData}}
    <div class="info-dash-container">
      <h4>Meus Eventos</h4>

      <table class="table">
        <tbody id="table-body">
          {{#each eventsData}}
            {{>urlTableRows this}}
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="empty-dash-container">
      <img src="/images/url-icon-big.svg" alt="url icon image big size">

      <h2>Ainda não existem eventos.</h2>
    </div>
  {{/if}}
</main>  
{{!-- //fixed --}}